/* Navbar.css */
.navbar {
    margin-top: 0%;
    background-color: lightblue; /* Light blue theme */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    background-color: auto;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  /* .navbar__item {} */
  
  .navbar__link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar__link:hover {
    color: #00509e; /* Darker blue on hover */
  }
  
  .navbar__button {
    background-color: #00509e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar__button:hover {
    background-color: #003b75;
  }
  